@model PagedList.IPagedList<PMS.Models.DbModels.NewProject>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class=" col-xs-12">
        <div class="pull-right">
            @Html.ActionLink("Report PDF", "Report", "NewProjects", null, new { @class = "btn btn-primary", @style = "color:white" })
            @Html.ActionLink("Export to Excel", "ExporttoExcel", "NewProjects", null, new { @class = "btn btn-primary", @style = "color:white" })
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "NewProjects", FormMethod.Get))
    {
    <p>
        City: @Html.DropDownList("searchCity", "All")
        Search: @Html.TextBox("searchProject")
        <input type="submit" value="Filter" />
    </p>
    }

@*Project Type is renamed to Project Status,
Street is renamed to Area,
Commenced on to Enquiry date,
Concludedon to Comments,*@


    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.NameSortParm})
            </th>

            <th>
                @Html.ActionLink("Owner", "Index", new { sortOrder = ViewBag.OwnerSortParm})
            </th>

            <th>
                @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
            </th>

            <th>
                @Html.ActionLink("DateOfEnquiry", "Index", new { sortOrder = ViewBag.EnquiryOnParm})
            </th>

            <th>
                @Html.ActionLink("BusinessPartner", "Index", new {sortOrder = ViewBag.BusinessPartnerParm })
            </th>

            <th>
                @Html.ActionLink("Area(Sq.Mt)", "Index", new { sortOrder = ViewBag.Street })
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommencedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessPartner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))